/* Reset dan font default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Styling body */
body {
  background-color: #f0f0f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Container utama */
.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-align: center;
}

/* Textarea */
textarea {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 15px;
}

/* Input number */
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

/* Header */
header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #007bff;
}

/* Daftar anggota */
.members ul {
  list-style-type: none;
  padding: 10px 0;
}

.members li {
  font-size: 18px;
  margin: 8px 0;
}

/* Tombol */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 48%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

button:hover {
  background-color: #0056b3;
}

/* Tombol move and back
.buttons-move-back {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

buttons-move-back {
  width: 48%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

buttons-move-back:hover {
  background-color: #0056b3;
} */

/* Footer */
footer p,
h5 {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

/* Responsif untuk perangkat mobile */
@media (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 400px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }

  .buttons {
    flex-direction: column;
    align-items: stretch;
  }
}
